#menu {
	position: fixed;
	left: -110px;
	top: 50px;
	width: 100px;
	padding: 5px;
	background-color: #DAD;
}

.menuBtn {
	width: 100%;
}

#openBtn {
	position: absolute;
	width: 50px;
	right: -50px;
	top: 0px;
}

#closeBtn {
	position: absolute;
	width: 50px;
	right: -50px;
	bottom: 0px;
}